---
import Navbar from '../components/Navbar.astro'

export interface Props {
  description?: string
  title?: string
  url?: string
}

const {
  description = 'A versatile software developer based in Stockholm, Sweden.',
  title = 'johanwest.com',
  url = 'https://johanwest.com',
} = Astro.props as Props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="hsl(30deg, 20%, 95%)" />
    <meta
      name="theme-color"
      content="hsl(214deg, 9%, 15%)"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="mask-icon" href="/mask-icon.svg" color="#000000" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/assets/animoji3.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/assets/animoji3.png" />

    <title>{title}</title>
    <script>
      try {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      } catch (_) {}
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>

  <body class="bg-background">
    <Navbar />
    <main class="mx-auto pb-12 pt-8 lg:pt-12 px-4 prose dark:prose-invert">
      <slot />
    </main>
  </body>
</html>

<style>
  :global(.astro-code) {
    @apply -mx-4 sm:mx-0;
    @apply px-4 py-4 sm:py-3;
    @apply rounded-none sm:rounded-md;
    /* @apply text-base; */
  }
</style>
